all*
checkpoints*
inference*
labels*
patches*
preds*
train*
vis*
wsi*
__pycache__*
log_*.csv
OES_tools/Slide Scanning Log.xlsx - Labelling.csv
OES_tools/2023-09-28_initialconfig.txt
events.out*
OES_tools/deepslide_options.txt
